{% extends 'tienda/master_tienda.html' %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% block content %}
<body>
 {% load static %}  
 <div style="margin-top:30px;">
    <a href="{% url 'categorias' %}"><img src="{% static 'core/img/back.png' %}"  width="30" height="35" style= "margin-left:50px;"></a>
    <h5 style="margin-left:50px;">Continuar comprando</h5>
 </div>
 <h1><center>Carrito de Compras</center></h1>
 <div></div>
 <div style="margin-left: 480px" class="col-md-8">
         <div class="card-body">
     <h3 class="card-title">Cantidad de productos: 2</h3>
 <h3>Total:</h3>
<h4>$6,100.00</h4>
 
 </div>
         <p></p>
 <a href="{% url 'proceso_pago' %}"><button style="width: 30rem;" type="submit" class="btn btn-success btn-lg">Pagar</button></a>

     </div>
     <div class="row">
        {% for listaP in productos %}
<form  action="{% url 'añadir_producto_carrito' listaP.idProd %}" method="POST">{% csrf_token %}
<div class="card-area">
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">{{ listaP.nombreProd }}</h5>
                    <p class="card-text">Descripción del Producto <br>{{listaP.descripcionProd}} <br> {{listaP.medidasProd}}</p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                                <button type="submit" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
 </form>
{% endfor %}
    </div>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>
   
    </body>
    {% endblock %}
</html>