{% extends 'tienda/master_tienda.html' %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
{% block title %}
Carrito Compras
{% endblock %}
{% block content %}
<body>
 {% load static %}  
 <div style="margin-top:30px;">
    <a href="{% url 'categorias' %}"><img src="{% static 'core/img/back.png' %}"  width="30" height="35" style= "margin-left:50px;"></a>
    <h5 style="margin-left:50px;">Continuar comprando</h5>
 </div>
 <h1><center>Carrito de Compras</center></h1>
<br>
<div style="margin-left: 200px" class="col-md-8">
         <div class="card-body">
     <h3 class="card-title">Cantidad de productos: {{carrito.cantidad}}</h3>
     <h3>Total:</h3>
    <h4>${{carrito.subtotal}}</h4>
  <br>
  </div>
 <div class="card-area">
  <div class="row">
     {% for producto in productos %}
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="/static/core/media/{{producto.imagenProd}}" alt="image">
                <div class="card-body">
                    <h5 class="title">{{producto.nombreProd }}</h5>
                    <p class="card-text"><strong>Descripción del Producto</strong> <br>{{producto.descripcionProd}} <br> {{producto.medidasProd}}</p>
                    <div class="form-row align-items-center">
                     <p class="card-text"><strong>Cantidad: </strong></p>
                    <form method="POST" action="{% url 'eliminar_producto_carrito' producto.idProd carrito.idCarrito %}">{% csrf_token %}
                        <select class="form-control" name="cantidad">
                        <option>Seleccione Cantidad a eliminar</option>
                            {% for prod in listaC %}
                                {% if prod.idProducto_id == producto.idProd %}
                                    {% if prod.cantidad == 1 %}
                                        <option value="1" selected>1</option>
                                    {% elif prod.cantidad == 2 %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    {% elif prod.cantidad == 3 %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    {% elif  prod.cantidad == 4 %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    {% elif prod.cantidad == 5%}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        </div>
                        <br>
                        <div class="form-row align-items-center">
                            <div class="col-sm-6 my-1">
                                <button type="submit" style="width:25em" class="btn btn-danger">Eliminar
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     {% endfor %}
    </div>
</div>
<br>
 <a href="{% url 'proceso_pago' %}"><button style="width: 80rem;" type="submit" class="btn btn-success btn-lg">Pagar</button></a>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>
   
</body>
{% endblock %}
</html>