{% extends 'tienda/master_tienda.html' %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% block content %}
<body>
 {% load static %}  
 <div style="margin-top:30px;">
    <a href="{% url 'categorias' %}"><img src="{% static 'core/img/back.png' %}"  width="30" height="35" style= "margin-left:50px;"></a>
    <h5 style="margin-left:50px;">Continuar comprando</h5>
 </div>
 <h1><center>Carrito de Compras</center></h1>
 <div></div>
 <div style="margin-left: 480px" class="col-md-8">
         <div class="card-body">
     <h3 class="card-title">Cantidad de productos: {{carrito.cantidad}}</h3>
 <h3>Total:</h3>
<h4>${{carrito.subtotal}}</h4>
<br>
<div class="card-area">
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{{producto.imagenProd.url}}" alt="image">
                <div class="card-body">
                    <h5 class="title">{{ producto.nombreProd }}</h5>
                    <p class="card-text">Descripción del Producto <br>{{producto.descripcionProd}} <br> {{producto.medidasProd}}</p>
                    <div class="form-row align-items-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
         <p></p>
 <a href="{% url 'proceso_pago' %}"><button style="width: 30rem;" type="submit" class="btn btn-success btn-lg">Pagar</button></a>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>
   
    </body>
    {% endblock %}
</html>