{% extends 'tienda/master_tienda.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
{% block content %}
<body>
{% load static %} 
<div style="margin-top:30px;">
<a href="{% url 'categoria_computo' %}"><img src="{% static 'core/img/back.png' %}"  width="30" height="35" style= "margin-left:50px;"></a>
</div>
<div class="izquierda" style="margin-top:30px;"> 
    <!-- Barra lateral -->
    <div class="fila" style="margin-left:10px;"  class="d-flex flex-row bd-highlight mb-3">
    <div>
      <aside class="sidebar-left">
      <nav>
     <div class="card" style="width: 15rem;" align="center">
      <div class="card-body">
        <h5 class="card-title">{{vendedor.nombreVend}}</h5>
        <p class="card-text">{{vendedor.correo}}</p>
        <p class="card-text">{{vendedor.telefono}}</p>
        <h6>Acerca de m&iacute;</h6>
        <p class="card-text">{{vendedor.descripcion}}</p>
      <div class="ec-stars-wrapper">
        <div class="ec-stars-wrapper">
          <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
          <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
          <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
          <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
          <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
        </div>
      </div>   
      </div>
      </div>
      </nav>
      </aside>
    </div>
    </div>
    </div>
</div>
<nav class="align-self-center" >
 <div style="margin-top:-655px; margin-left:15rem;">
    <!-- PARTE UNO -->
    {% for producto in productos  %}
        <form action="{% url 'añadir_producto_carrito' producto.idProd %}" method="post" > {% csrf_token %}
            <div class="container" style="width:auto; float:left; margin-left:.2rem">
              <div class="card-deck mt-3">   
              <div class="card "  style="max-width:20.5rem; max-height:60rem;">
                  <img src="{{producto.imagenProd.url}}" width="140px" height="190px" class="card-img-top" alt="...">
                <div class="card-body" >
                  <h4 class="card-title" align="center"><strong>{{producto.nombreProd}}</strong></h4>
                  <p class="card-text">
                <div class="form-row align-items-center">
                  <div class="col-sm-13 my-0" >
                    <h5> Marca:{{producto.marcaProd}}</h5>   
                    <h5> Existencias: {{producto.existenciasProd}}</h5>
                    <h5>{{producto.descripcionProd}}</h5>
                    
                  </div>
                </div>
                </p>
                  <P>
                    <button type="submit" class="btn btn-success btn-sm"><img src="{% static 'core/img/smart-cart.png' %}" width="25" height="25">A&ntilde;adir al Carrito</button> 
                    <h6 style="margin-left:12.5rem; margin-top:-3rem;"><strong>$ {{producto.precioProd}}</strong></h6> 
                  </P>
                </div>
                </div>
                </div>
              </div>
              </div>
            </div>
      </form>
  </nav>
    {% endfor %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>
</body>
{% endblock %}
</html>