{% extends 'tienda/master_tienda.html' %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
{% block title %} Configuración {% endblock %}
{% block content %}

<body>
  {% load static %}

  <div class="izquierda">

    <!-- Barra lateral -->
    <div class="fila" style="margin-left:10px; margin-top: 20px;" class="d-flex flex-row bd-highlight mb-3">


      <aside class="sidebar-left">
        <nav>
          <div class="card" style="width: 20rem; margin-top:20px" align="center">
            <div class="card-body" align="center">
              <h5 class="card-title">{{datos.nombre}}</h5>
              <p class="card-text">{{datos.correo}}</p>
              <p class="card-text">{{datos.telefono}}</p>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="height: 70px;">
                <h5><a href="{% url 'compras' %}"><button type="submit" style="margin-left: 2px; width: 180px; "
                      class="btn btn-dark btn-lg"><img src="{% static 'core/img/bag.png' %}" width="30"
                        height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Compras&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
                </h5>
              </li>
              <!--<li class="list-group-item" style="height: 70px;">
                <h5><a href="{% url 'pedidos' %}"><button type="submit" style="margin-left: 2px; width: 180px;"
                      class="btn btn-dark btn-lg"><img src="{% static 'core/img/money.png' %}" width="30"
                        height="30">&nbsp;&nbsp;&nbsp;Pedidos&nbsp;&nbsp;</button></a></h5>
              </li>-->
              <li class="list-group-item" style="height: 70px;">
                <h5><a href="{% url 'direccion_envio' %}"><button type="submit" style="margin-left: 2px; width: 180px;"
                      class="btn btn-dark btn-lg"><img src="{% static 'core/img/home-run.png' %}" width="30"
                        height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dirección&nbsp;&nbsp;&nbsp;&nbsp;</button></a></h5>
              </li>
              <li class="list-group-item">
                <h5><a href="{% url 'configuracion_cuenta' %}"><button type="submit"
                      style="margin-left: 2px; width: 180px;" class="btn btn-light btn-lg"><img
                        src="{% static 'core/img/confi.jpeg' %}" width="30"
                        height="30">&nbsp;Configuración&nbsp;&nbsp;</button></a></h5>
              </li>
              <li class="list-group-item">
                <h5><a href="{% url 'logout' %}"><button type="submit" style="margin-left: 2px; width: 180px;"
                      class="btn btn-danger btn-lg"><img src="{% static 'core/img/cerrar.jpeg' %}" width="30"
                        height="30">&nbsp;Cerrar Sesion&nbsp;&nbsp;</button></a></h5>
              </li>
            </ul>
          </div>
        </nav>
      </aside>
    </div>
  </div>


  <div class="d-flex justify-content-center" style="margin-top:-450px;"></div>

  <div style="margin-top:15px;">
    <a href="{% url 'categorias' %}"><img src="{% static 'core/img/back.png' %}" width="30" height="35"
        style="margin-left:1000px;"></a>
    <h5 style="margin-top:-25px; margin-left:1050px;">Continuar comprando</h5>
  </div>

  <div class="card" style="width:50rem; margin-left:360px;">
    <div class="card-body" >
      <h1>
        <center>Configuración de Cuenta</center>
      </h1>
      {% for  message in messages %}
          <p id="message"><h3>{{message}}</h3></p>
      {% endfor %}
      <div class="card-body">
        <div class="col-md-12">
        <h4 class="card-title" align="left">Datos</h4>
        <hr>
        <form action="{% url 'guardar_config_con' %}" method="post">{% csrf_token %}
          <div class="form-row" >
            <label for="inputEmail4">Nombre Completo</label>
              <input align="center" style="width:53rem;" type="text" class="form-control" name="nombre" placeholder="Nombre Completo*" value={{datos.nombre}}>
          </div>
          <div class="form-row">
              <label for="inputEmail4">Correo Electr&oacute;nico</label>
              <input align="center" style="width: 53rem;" type="email" class="form-control" id="inputEmail4" name="correo" placeholder="Correo Electr&oacute;nico*" value={{datos.correo}}>
          </div>
          <div class="form-row">
            <label for="inputEmail4">Celular</label>
            
            <input align="center" style="width: 53rem;" type="text" class="form-control" id="inputEmail4" name="telefono" placeholder="Celular*" value={{datos.telefono}}>
          </div>
            <div class="form-row">
            <label for="inputEmail4">Nueva Contrase&ntilde;a</label>
            
            <input align="center" style="width: 53rem;" type="password" class="form-control" id="inputEmail4" placeholder="Nueva Contrase&ntilde;a*" name="nc">
          </div>
          <div class="form-row">
              <label for="inputEmail4">Confirmar contrase&ntilde;a</label>
              <input align="center" style="width: 53rem;" type="password" class="form-control" id="inputEmail4"
                  placeholder="Confirmar Contrase&ntilde;a*" name="cc">
          </div>
          <div class="form-row">
            <p>&nbsp;</p>
            <button style="width: 53rem;" type="submit" class="btn btn-success btn-lg" href="#ventana4"
              class="btn btn-success btn-lg" data-toggle="modal">Guardar</button>
          </div>
        <!-- GUARDAR -->
        <div class="modal fade" id="ventana4">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <!-- CONTENIDO DE LA VENTANA EMERGENTE -->
                    <div class="modal-body" align="center">
                    <img src="{% static 'core/img/tick.png' %}" width="160" height="160" >
                        <p></p>
                        <p><h2>¡Se ha Guardado exitosamente!</h2></p>
                     </div>
                    <!-- FOOTER DE LA VENTANA EMERGENTE -->
                    <div class="modal-footer" align="center">
                        <button type="submit" class="btn btn-ranger" data-dismiss="modal" >Aceptar</button>           
                </div>

            </form>
          </div>
      </div>
    </div>
  </div>

    </form>
</body>
{% endblock %}

</html>