{% extends 'tienda/master_tienda.html' %}
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
{% block content %}
<body>
{% load static %}
<div style="margin-top:30px;">
    <a href="{% url 'categorias' %}"><img src="{% static 'core/img/back.png' %}"  width="30" height="35" style= "margin-left:50px;"></a>
    </div>   
<h1><center>Detalle Producto</center></h1>
    <div class="card mb-3" style="margin-left:150px; max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'core/img/converse.jpg' %}" width="330" height="330" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Converse negro</h2>
        <h4>$1,099.00</h4>
        <p class="card-text">Converse de botines de ajuste con agujetas blancas, con el agradable diseño original de Chuck Taylor. Los acompaña la famosa estrella en el costado, una suela de caucho con detalles antideslizantes para regalar mejor tracción y evitar los deslizamientos. </p>
          <hr>
        <img src="{% static 'core/img/tienda.jpg' %}" align="right" width="230" height="140">
          <p class="card-text"><h3>Tienda</h3></p>
         <h3 class="card-title">Converse</h3>
        <p class="card-text">Cadena de tiendas de la conocida marca de deportivas para adultos y niños, que también vende ropa, calcetines y bolsas. </p>
      </div>
    </div>
  </div>
    
</div>
  <p style="margin-left:350px;">
   <button style="margin: 5px" type="submit" class="btn btn-dark btn-lg"><img src="{% static 'core/img/smart-cart.png' %}" width="28" height="28">&nbsp;&nbsp;A&ntilde;adir al Carrito</button>
   <button style="width: 10rem;" type="submit" class="btn btn-success btn-lg"><img src="{% static 'core/img/buy.png' %}" width="28" height="28">&nbsp;&nbsp;Comprar</button>
    <button style="margin-left: 25px" type="submit" class="btn btn-primary btn-lg"><img src="{% static 'core/img/facebook.png' %}" width="28" height="28">&nbsp;&nbsp;Contactanos</button>
  </p>
</body>   
{% endblock %}
</html>