{% extends 'tienda/master_tienda.html' %}
<html>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
{% block content %}
<body>
{% load static %}

  <!-- Barra lateral -->
  <div class="fila" style="margin-left:10px; margin-top: 20px;" class="d-flex flex-row bd-highlight mb-3">
    <aside class="sidebar-left">
      <nav>
        <div class="card" style="width: 20rem" align="center" >
          <img src="{% static 'core/img/user2.png' %}" width="85" height="85">
          <div class="card-body" align="center">
            <h5 class="card-title">Isabella Zoey</h5>
            <p class="card-text">isabella@gmail.com</p>
            <p class="card-text">7751292878</p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="height: 70px;">
              <h5><a href="{% url 'compras' %}"><button type="submit" style="margin-left: 2px; width: 180px; "
                    class="btn btn-dark btn-lg"><img src="{% static 'core/img/bag.png' %}" width="30"
                      height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Compras&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
              </h5>
            </li>
            <li class="list-group-item" style="height: 70px;">
              <h5><a href="{% url 'forma_pago' %}"><button type="submit" style="margin-left: 2px; width: 180px;"
                    class="btn btn-dark btn-lg"><img src="{% static 'core/img/money.png' %}" width="30"
                      height="30">&nbsp;&nbsp;&nbsp;Forma de Pago&nbsp;&nbsp;</button></a></h5>
            </li>
            <li class="list-group-item" style="height: 70px;">
              <h5><a href="{% url 'direccion_envio' %}"><button type="submit"
                    style="margin-left: 2px; width: 180px;" class="btn btn-light btn-lg"><img
                      src="{% static 'core/img/home-run.png' %}" width="30"
                      height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dirección&nbsp;&nbsp;&nbsp;&nbsp;</button></a></h5>
            </li>
            <li class="list-group-item">
              <h5><a href="{% url 'configuracion_cuenta' %}"><button type="submit"
                    style="margin-left: 2px; width: 180px;" class="btn btn-dark btn-lg"><img
                      src="{% static 'core/img/confi.png' %}" width="30"
                      height="30">&nbsp;Configuración&nbsp;&nbsp;</button></a></h5>
            </li>
            <li class="list-group-item">
              <h5><a href="{% url 'home' %}"><button type="submit" style="margin-left: 2px; width: 180px;"
                    class="btn btn-danger btn-lg"><img src="{% static 'core/img/cerrar.png' %}" width="30"
                      height="30">&nbsp;Cerrar Sesion&nbsp;&nbsp;</button></a></h5>
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    </div>


    <div class="d-flex justify-content-center" style="margin-top:-593px;"></div>
      <div class="card" style="width:55rem; margin-left:360px; ">
        <div>
            <div class="col-md-12">
              <h1><center>Direcci&oacute;n</center></h1>
                <div class="card-body">
                    <h4 class="card-title">Datos</h4>
                    <hr>
                    <h6>Direcci&oacute;n de env&iacute;o</h6>
                    <div class="form-row">
                    </div>
                      <div class="form-group col-md-12">
                        <label for="inputCountry">Pa&iacute;s</label>
                        <select id="inputState" class="form-control" value="Validar">
                          <option selected>Seleccionar...</option>
                          <option value="Argentina">Argentina</option>
                          <option value="Bolivia">Bolivia</option>
                          <option value="Chile">Chile</option>
                          <option value="Colombia">Colombia</option>
                          <option value="España">España</option>
                          <option value="Italia">Italia</option>
                          <option value="Mexico">M&eacute;xico</option>
                          <option value="Peru">Per&uacute;</option>
                          <option value="Rusia">Rusia</option>
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="inputState">Estado</label>
                        <select id="inputState" class="form-control" required>
                          <option selected>Seleccionar...</option>
                          <option>Aguascalientes</option>
                          <option>Campeche</option>
                          <option>Chiapas</option>
                          <option>Ciudad de M&eacute;xico</option>
                          <option>Hidalgo</option>
                          <option>Puebla</option>
                          <option>Quer&eacute;taro</option>
                          <option>Tabasco</option>
                          <option>Veracruz</option>
                        </select>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="inputAddress">Ciudad</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="" required>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="inputAddress2">C&oacute;digo postal</label>
                        <input type="number" class="form-control" id="inputAddress2" max="5" placeholder="" required>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="inputCity">Direcci&oacute;n</label>
                        <input type="text" class="form-control" id="inputCity" required>
                      </div>

                      <div class="container">
                        <br>
                        <button style="margin-left:190px" type="submit" class="btn btn-success btn-lg"  href="#ventana3" class="btn btn-success btn-lg" data-toggle="modal">Guardar</button>
                        <a href="{% url 'direccion_envio1' %}"><button style="margin-left:120px" type="reset" class="btn btn-dark btn-lg">Cancelar</button></a>
                        <!-- GUARDAR -->
                              <div class="modal fade" id="ventana3">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          
                                          <!-- CONTENIDO DE LA VENTANA EMERGENTE -->
                                          <div class="modal-body" align="center">
                                          <img src="{% static 'core/img/tick.png' %}" width="160" height="160" >
                                              <p></p>
                                              <p><h2>¡Se ha Guardado exitosamente!</h2></p>
                                           </div>
                                          <!-- FOOTER DE LA VENTANA EMERGENTE -->
                                          <div class="modal-footer" align="center">
                                              <button type="button" class="btn btn-ranger" data-dismiss="modal" >Aceptar</button>           
                                      </div>
                                  </div>       
                              </div> 
                                  </div>
                              </div>


                </div>
            </div>
        </div>
      </div>
    </div>
</div>
    </body>
    {% endblock %}

</html>
