{% extends 'tienda/master_tienda.html' %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
{% block title %} Forma de Pago{% endblock %}
{% block content %}

<body>
  {% load static %}
 
  <div class="izquierda">
    <!-- Barra lateral -->
    <div class="fila" style="margin-left:10px; margin-top: 0px;" class="d-flex flex-row bd-highlight mb-3" >
      
        <aside class="sidebar-left">
          <nav>
            <div class="card" style="width: 20rem; margin-top:20px" align="center" >
              <div class="card-body" align="center">
              <h5 class="card-title">{{datos.nombre}}</h5>
              <p class="card-text">{{datos.correo}}</p>
              <p class="card-text">{{datos.telefono}}</p>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="height: 70px;">
                  <h5><a href="{% url 'compras' %}"><button type="submit" style="margin-left: 2px; width: 180px; "
                        class="btn btn-dark btn-lg"><img src="{% static 'core/img/bag.png' %}" width="30"
                        height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Compras&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
                  </h5>
                </li>
                <li class="list-group-item" style="height: 70px;">
                  <h5><a href="{% url 'forma_pago' %}"><button type="submit" style="margin-left: 2px; width: 180px;"
                        class="btn btn-light btn-lg"><img src="{% static 'core/img/money.png' %}" width="30"
                          height="30">&nbsp;&nbsp;&nbsp;Forma de Pago&nbsp;&nbsp;</button></a></h5>
                </li>
                <li class="list-group-item" style="height: 70px;">
                  <h5><a href="{% url 'direccion_envio' %}"><button type="submit"
                        style="margin-left: 2px; width: 180px;" class="btn btn-dark btn-lg"><img
                          src="{% static 'core/img/home-run.png' %}" width="30"
                          height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dirección&nbsp;&nbsp;&nbsp;&nbsp;</button></a></h5>
                </li>
                <li class="list-group-item">
                  <h5><a href="{% url 'configuracion_cuenta' %}"><button type="submit"
                        style="margin-left: 2px; width: 180px;" class="btn btn-dark btn-lg"><img
                          src="{% static 'core/img/confi.jpeg' %}" width="30"
                          height="30">&nbsp;Configuración&nbsp;&nbsp;</button></a></h5>
                </li>
                <li class="list-group-item">
                  <h5><a href="{% url 'logout' %}"><button type="submit" style="margin-left: 2px; width: 180px;"
                        class="btn btn-danger btn-lg"><img src="{% static 'core/img/cerrar.jpeg' %}" width="30"
                          height="30">&nbsp;Cerrar Sesion&nbsp;&nbsp;</button></a></h5>
                </li>
              </ul>
          </nav>
        </aside>
      
    </div>
  </div>

  <form action="{% url 'post_forma_pago' %}" method="post"> {% csrf_token %}
  <div class="d-flex justify-content-center" style="margin-top:-450px; "></div>
    <div class="card" align="center" style="width:50rem; margin-left:360px">
      <div>
        <div class="col-md-12">
          <div class="card-body">
            <h1>Forma de Pago </h1>
            {% for message in messages %}<p id="message"><h4>{{message}}</h4></p>{% endfor %}
            <h4 class="card-title" align="left">M&eacute;todos de Pago</h4>
            <hr>
            <div class="form-group row">
              <label for="inputPassword" class="col-form-label" required>Nombre de la Tarjeta</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="Nombre del propietario*" required name="nombre_propietario" value="{{info.nombre_propietario}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class=" col-form-label" required>N&uacute;mero de la Tarjeta</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="0000 0000 0000 0000*" required name="numero_tarjeta" value="{{info.numero_tarjeta}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class=" col-form-label" required>Fecha Vencimiento &nbsp;&nbsp; </label>
              <div class="col-sm-3">
                <input class="form-control" placeholder="Mes" required name="mes" value="{{info.mes_vencimiento}}">
              </div>
              <div class="col-sm-3">
                <input class="form-control" placeholder="A&ntilde;o" required name="anio" value="{{info.anio_vencimiento}}">
              </div>
            </div>
            <div class="form-row align-items-center">
                    <label class="col-form-label">Tipo de Pago</label>
                    <select class="form-control" name="tipo_pago">
                        <option>Selecciona un Tipo de Pago</option>
                        {% if info.tipo_pago == "debito" %}
                            <option value="debito" selected>Tarjeta de Débito</option>
                            <option value="credito">Tarjeta de Crédito</option>
                        {% elif info.tipo_pago == "credito"%}
                            <option value="debito">Tarjeta de Débito</option>
                            <option value="credito" selected>Tarjeta de Crédito</option>
                        {% endif %}
                    </select>
            </div>
            <div class="container">
              <br>
              <button style="margin-left:25px" type="submit" class="btn btn-success btn-lg" href="#ventana5"
                class="btn btn-success btn-lg" data-toggle="modal"><img src="{% static 'core/img/mastercard.png' %}"
                  width="30" height="30">&nbsp;&nbsp;&nbsp;Guardar</button>
              </form>
              <!--<button style="margin-left: 25px" type="submit" class="btn btn-dark btn-lg" href="#ventana6"
                class="btn btn-success btn-lg" data-toggle="modal"><img src="{% static 'core/img/payment.png' %}"
                  width="30" height="30">&nbsp;&nbsp;&nbsp;PayPal</button></a>-->
            </div>
            </div>
            <!-- GUARDAR -->
            <div class="modal fade" id="ventana5">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- CONTENIDO DE LA VENTANA EMERGENTE -->
                  <div class="modal-body" align="center">
                    <img src="{% static 'core/img/tick.png' %}" width="160" height="160">
                    <p></p>
                    <p>
                    <h2>¡Se ha Guardado exitosamente!</h2>
                    </p>
                  </div>
                  <!-- FOOTER DE LA VENTANA EMERGENTE -->
                  <div class="modal-footer" align="center">
                    <button type="button" class="btn btn-ranger" data-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <br>
              <!-- PAYÁL -->
              <div class="modal fade" id="ventana6">
                <div class="modal-dialog">
                  <div class="modal-content">                  
              <!-- CONTENIDO DE LA VENTANA EMERGENTE -->
              <div class="modal-body" align="center">
                <img src="{% static 'core/img/close.png' %}" width="160" height="160" >
                <p></p>
              </div>
              <!-- FOOTER DE LA VENTANA EMERGENTE -->
              <div class="modal-footer" align="center">
                <button type="button" class="btn btn-ranger" data-dismiss="modal" >Aceptar</button>
              </div>
              </div>
              </div>
              </div>
              </div>


          </div>
        </div>
      </div>
    </div>
  </div>






  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>

</body>
{% endblock %}

</html>