<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <title>{% block title %} {% endblock %} | MarkeTul</title>

    <!-- Estilos y fuentes del template  -->
    {% load static %}
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/upload.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'core/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'core/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>
    <body>
     <!-- Navegación -->
     {% load static %}
     <div>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}"><img id="logo" src="{% static 'core/img/logo_marketul.JPG' %}"  alt="" responsive></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <table class="egt">
          <tr align="left">  
          <td>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-left:-65px;" >
                <form class="form-inline" style="width:65rem;">
                  <input class="form-control mr-sm-12"  type="search"  style="width:45rem;" placeholder="Buscar Producto" aria-label="Search" class="col-md-2">
                  <button class="btn btn-secondary my-2 my-sm-0" style="margin-left:10px; height:2.5rem; " type="submit">Buscar</button>
                </form>
              </nav>
              </td>
              <td><a  href="{% url 'carrito' %}"><button type="button" class="btn btn-success" align="left">Carrito </button></a>
          </td>
          </tr>
          <tr align="left">
        <div class="collapse navbar-collapse" id="navbarNav" >
          <td >
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-left:10px">
              <a class="nav-link" href="{% url 'categorias' %}" >Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'categoria_computo' %}" >Computo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#muebles" >Muebles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#infantil">Niñ@s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#hombre">Hombre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mujer">Mujer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#electrodomesticos">Electrodomesticos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#libros" >Libros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mascotas">Mascotas</a>
            </li>
          </ul>
        </div>
      </nav>
    </td>
        </tr>
        </table>
        <a href="{% url 'configuracion_cuenta' %}"><button style="margin-top:50px; width:6rem; margin-left:-98px;" type="button"  class="nav-link btn btn-danger">Cuenta
           </button></a>
      </div>
       <!-- Contenido -->
    {% block content %}{% endblock %}
    </body>
  <!-- Bootstrap y Javascripts -->
<script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'core/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'core/js/jquery-ui.js' %}"></script>
<script src="{% static 'core/js/popper.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'core/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'core/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'core/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'core/js/aos.js' %}"></script>
<script src="{% static 'core/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'core/js/jquery.sticky.js' %}"></script>
<script src="{% static 'core/js/main.js' %}"></script>   
</html>