{% extends 'tienda/master_tienda.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
{% block content %}
{% load static %} 
<body>
<div style="margin-top:30px;">
  <a href="{% url 'carrito' %}"><img src="{% static 'core/img/back.png' %}"  width="30" height="35" style= "margin-left:50px;"></a>
</div>   
<h1><center>Proceso de Pago</center></h1>  
    <p></p>
 <h4 style="margin-left:150px;">Lista de Compra</h4>
<div style="margin-left:150px; width:80rem;" valign="top">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
      <form action="{% url 'pago_exitoso' %}" method="post" > {% csrf_token %}
      {% for producto in productos %}
        <tr>
          <th scope="row"><img  src="{{producto.imagenProd.url}}" width="160" height="160"/></th>
          <td>{{producto.nombreProd}}</td>
          {% for prod in listaC %}
              {% if prod.idProducto_id == producto.idProd %}
                  <td>{{prod.cantidad}}</td>
              {% endif %}
          {% endfor %}
          <td>${{producto.precioProd}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <h4>Total a pagar</h4>
    <h2 class="card-title" name="total">$ {{carrito.subtotal}}</h2>
            </div>
    <button style="margin-left:180px; width: 80rem;"  type="submit" class="btn btn-success btn-lg">Pagar</button>
    </form>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>
    </body>
    {% endblock %}
</html>
