{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Electronica y Computo MkTul{% endblock %}

{% block sub_pagina %}Catálogo de Productos{% endblock %}

{% block content %}
{% load static %}
<br>
<br>
<div class="row align-items-center">
    <div class="col-sm-6 my-1">
        <a href="{% url 'catalogos_vendedor' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em;"/></a>
    </div>
</div>
<div class="card-area">
    <div class="row">
        {% for listaP in productos %}
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">{{ listaP.nombreProd }}</h5>
                    <p class="card-text">Descripción del Producto <br>{{listaP.descripcionProd}} <br> {{listaP.medidasProd}}</p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                                <a href="{% url 'editar_catalogo_2' %}" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>$ {{listaP.precioProd}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}