{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Catálogos{% endblock %}

{% block sub_pagina %}Inicio{% endblock %}

{% block content %}
{% load static %}
<br>
<br>
<div class="row align-items-center">
    <div class="col-sm-6 my-1">
        <a href="{% url 'vendedor_ventas'%}" class="btn btn-info"><i class="ti-stats-up"></i>  Ventas</a>
    </div>
<div class="card-area">
    <div class="row">
        {% for listaC in catalogos %}
            <div class="col-lg-7 col-md-8 mt-1">
                <div class="card card-bordered">
                {% for tienda in tiendas  %}
                    {% if listaC.idTien_id == tienda.idTi %}
                        <img class="card-img-top img-fluid" src="static/core/media/{{listaC.imagenProd}}" alt="image">
                    {% endif %}
                {% endfor %}
                    <div class="card-body">
                        <h5 class="title">Catálogo: {{listaC.idCatal}}</h5>
                        <div class="form-row align-items-center">
                            <div class="col-sm-6 my-1">
                                <a href="{% url 'editar_catalogo' listaC.idCatal %} " class="btn btn-info"><i class="ti-pencil-alt"> </i>Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}