{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Configuración de Cuenta{% endblock %}

{% block sub_pagina %}Datos{% endblock %}

{% block content %}
{% load static %}
<div class="row">
    <!-- basic form start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Cuenta</h4>
                {% for  message in messages %}
                    <p id="message">{{message}}</p>
                    <br>
                {% endfor %}
                <form action="{% url 'guardar_config' %}" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  name="nombreVend" required value={{datos.nombreVend}}>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required value={{datos.telefono}}>
                    </div>
                    <div class="form-group">
                        <label for="correp">Correo Electrónico</label>
                        <input type="text" class="form-control" id="correo" name="correo" value="{{datos.correo}}" required>
                    </div>
                   <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="descripcion" rows="3" aria-describedby="info_descripcion" name="descripcion">{{datos.descripcion}}</textarea>
                        <small id="info_descripcion" class="form-text text-muted">Ingresa una descripción sobre ti, esta aparecerá en tu catálogo</small>
                    </div> 
                    <div class="form-group">
                        <label for="nc">Nueva Contraseña</label>
                        <input type="password" class="form-control" id="nc" name="nc">
                    </div>
                    <div class="form-group">
                        <label for="cc">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="cc" name="cc">
                    </div>
               <div class="form-row align-items-center">
                   <div class="col-sm-3 my-1">
                    <a href="{% url 'vendedor_dash' %}"><button type="button" class="btn btn-danger mt-4 pr-4 pl-4">Cancelar</button></a>
                    </div>
                    <div class="col-sm-3 my-1">
                        <a href=""><button type="sumbit" class="btn btn-success mt-4 pr-4 pl-4">Aceptar</button></a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}