{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Electronica y Computo MkTul{% endblock %}

{% block sub_pagina %}Edición de Catálogo{% endblock %}

{% block content %}
{% load static %}
<br>
<br>
<div class="row align-items-center">
    <div class="col-sm-3 my-1">
        <a href="{% url 'catalogos_vendedor' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em;"/></a>
    </div>

    <div class="col-sm-3 my-1">
        <a href="{% url 'catalogo_tienda' catalogo.idTien_id  catalogo.idCatal %}" class="btn btn-warning">Añadir Productos</a>
    </div>
</div> 
<div class="card-area">
    <div class="row">
    {% for producto in productos  %}
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="{{producto.imagenProd.url}}" alt="image">
                    <div class="card-body">
                        <h5 class="title">{{producto.nombreProd}}</h5>
                        <div class="form-row align-items-center">
                            <div class="col-sm-6 my-1">
                                <h3>$ {{producto.precioProd}}</h3>
                            </div>
                        </div>
                        <!--<div class="form-row align-items-center">
                            <div class="col-sm-6 my-1">
                                    <button type="submit" class="btn btn-danger"><i class="ti-close"> </i>Eliminar del catálogo</a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}