{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}{{tienda.nombreTi}}{% endblock %}

{% block sub_pagina %}Edición de Catálogo{% endblock %}

{% block content %}
{% load static %}
<br>
<br>
<div class="row align-items-center">
    <div class="col-sm-3 my-1">
        <a href="{% url 'catalogos_vendedor' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em;"/></a>
    </div>

    <div class="col-sm-3 my-1">
        <a href="{% url 'catalogo_tienda' catalogo.idTien_id  catalogo.idCatal %}" class="btn btn-warning">Añadir Productos</a>
    </div>

    <div class="col-sm-3 my-1">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalCat">Modificar categoría</button>
    </div>
</div> 
    {% for  message in messages %}
        <br>
        <p id="message"><h3>{{message}}</h3></p>
        <br>
    {% endfor %}
<div class="card-area">
    <div class="row">
    {% for producto in productos  %}
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="{{producto.imagenProd.url}}" alt="image">
                    <div class="card-body">
                        <h5 class="title">{{producto.nombreProd}}</h5>
                        <div class="form-row align-items-center">
                            <div class="col-sm-6 my-1">
                                <h3>$ {{producto.precioProd}}</h3>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm-6 my-1">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Eliminar_producto"> <i class="ti-close"> </i>Eliminar del catálogo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal -->
                <div id="Eliminar_producto" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title">Confirmación</h4>
                        <form method="POST" action="{% url 'eliminar_producto_catalogo' producto.idProd catalogo.idCatal %}">
                            {% csrf_token %}
                            <!--<input type="hidden" name="idProd" value="{{producto.idProd}}">-->
                            <br>
                            <p>¿Desea eliminar el producto <strong>{{producto.nombreProd}}</strong> del catálogo?</p>
                            <br>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-danger">Si</button>
                        </form>
                    </div>
                    </div>

                </div>
                </div>
    {% endfor %}
    </div>
</div>






<!-- Modal -->
<div id="ModalCat" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Cambiar Categoería</h4>
        <form method="POST" action="{% url 'cambio_categoria' %}">
            {% csrf_token %}
            <input type="hidden" name="idCat" value="{{catalogo.idCatal}}">
            <label class="col-form-label">Categoria</label>
                <select class="form-control" name="categoriaCat">
                    <option value="{{catalogo.categoria}}">{{catalogo.categoria}}</option>
                    <option>Selecciona una Categoría</option>
                    <option value="Computo">Computo</option>
                    <option value="Muebles">Muebles</option>
                    <option value="Niños">Niños</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Electrodomesticos">Electrodomesticos</option>
                    <option value="Libros">Libros</option>
                    <option value="Mascotas">Mascotas</option>
                </select>
                <br>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
function test(e) {
e.value=e.value.replace(/\,/g, '.')
}
</script>
    <!-- basic form end -->

{% endblock %}