{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Tiendas{% endblock %}

{% block sub_pagina %}Inicio{% endblock %}

{% block content %}
{% load static %}
<div class="row align-items-center">
<div class="card-area">
    <div class="row">
        {% for listaT in tiendas %}
            <div class="col-lg-8 col-md-5 mt-4">
                <div class="card card-bordered">
                    <img class="card-img-top img-fluid" src="/media/{{listaT.logoTi.url}}" alt="">
                    <div class="card-body">
                        <h5 class="title">{{listaT.nombreTi}}</h5>
                        <div class="form-row align-items-center">
                            <div class="col-sm-6 my-1">
                                <a href="{% url 'catalogo_tienda_sn' listaT.idTi %}" class="btn btn-secondary"><i class="ti-gallery">  </i>Ver Productos</a>
                            </div>
                            <div class="col-sm-6 my-1">
                                <a href="{% url 'vendedor_nueva_solicitud' listaT.idTi %}" class="btn btn-info"><i class="ti-plus">  </i>Presentar Solicitud</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}