{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Koch and Sons{% endblock %}

{% block sub_pagina %}Nueva Solicitud{% endblock %}

{% block content %}
{% load static %}
<div class="row">
    <a href="{% url 'tiendas' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em; margin-top: 3em;"/></a>
    <!-- basic form start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Solicitud Vendedor</h4>
                <form method="post" action="{% url 'enviar_solicitud' tienda.idTi %}">{% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombreV" value="{{datos.nombreVend}}" >
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccionV" placeholder="Dirección del Vendedor *" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo Electrónico</label>
                        <input type="text" class="form-control" id="correoV" name="correoV" value="{{datos.correo}}"  >
                    </div>
               <div class="form-group">
                <label class="col-form-label" for="edadVend">Edad</label>
                <input type="text" class="form-control" id="edadVend" name="edadVend" placeholder="Edad del Vendedor *" required>
               </div> 
               <div class="form-group">
                <label class="col-form-label">Género</label>
                <select class="form-control" name="genero">
                    <option>Selecciona tu género...</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="LGBTIQ">LGBTIQ+</option>
                </select>
               </div> 
               <div class="form-group">
                <label for="motivo">Motivo</label>
                <textarea class="form-control" id="motivo" rows="3" aria-describedby="info_motivo" name="motivos"></textarea>
                <small id="info_motivo" class="form-text text-muted">Ingresa los motivos por los cuales te gustaría trabajar para esta tienda.</small>
               </div> 
               <div class="form-row align-items-center">
                   <div class="col-sm-3 my-1">
                    <a href="{% url 'tiendas' %}"><button type="button" class="btn btn-danger mt-4 pr-4 pl-4">Cancelar</button></a>
                    </div>
                    <div class="col-sm-3 my-1">
                        <button type="submit" class="btn btn-success mt-4 pr-4 pl-4">Enviar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}