{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Tiendas{% endblock %}

{% block sub_pagina %}Inicio{% endblock %}

{% block content %}
{% load static %}
<div class="row align-items-center">
    <div class="col-sm-6 my-1">
        <a href="{% url 'catalogos_vendedor' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em;"/></a>
    </div>
</div>
<div class="row">
    <!-- Dark table inicia -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Ventas</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Catálogo</th>
                                <th>
                                <th>Ganancia</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for venta in ventas %}
                            <tr>
                                <td>{{venta.idCatalogo_id}}<td>
                                <td>$ {{venta.venta}}                                                          
                            </tr>
                        {% endfor %}  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark table finaliza -->
    </div>
{% endblock %}