.container-image{
    width: auto;
    text-align: center;
}

.container-button{
    width: auto;
    text-align: center;
}

.container-chat{
    width: auto;
    text-align: center;
    margin-left: 50px;
}

#logo{
    max-width: 100%;
}

video{
    max-width: 90%;
    margin-top: 20px;
}

#descripcion{
    margin-right: 150px;
}

#desc{
    text-align: center;
}

