{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Administrador de Tienda{% endblock %}

{% block pagina %}Solicitudes de Vendedor{% endblock %}

{% block sub_pagina %}Detalle Solicitud{% endblock %}

{% block content %}
{% load static %}
<div class="row">
    <a href="{% url 'admin_solicitudes_vendedor' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em; margin-top: 3em;"/></a>
    <!-- basic form start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Solicitud Vendedor</h4>
                <form action="{% url 'cambiar_status_solicitud' solicitud.idSolVen%}" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{solicitud.nombreV}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" value="{{solicitud.direccionV}}"  required disabled>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo Electrónico</label>
                        <input type="text" class="form-control" id="correo" value="{{solicitud.correoV}}" required disabled>
                    </div>
               <div class="form-group">
                <label class="col-form-label" for="edad">Edad</label>
                <input type="text" class="form-control" id="edad" value="{{solicitud.edadVen}}" required disabled>
               </div> 
               <div class="form-group">
                <label class="col-form-label">Género</label>
                <select class="form-control" disabled>
                    <option>{{solicitud.genero}}</option>
                </select>
               </div> 
               <div class="form-group">
                <label for="motivo">Motivo</label>
                <textarea class="form-control" id="motivo" rows="3" disabled>{{solicitud.motivos}}</textarea>
               </div> 
               <div class="form-row align-items-center">
                   <div class="col-sm-3 my-1">
                    <a href="{% url 'admin_rechazo_solicitud' %}"><button type="button" class="btn btn-danger mt-4 pr-4 pl-4">Rechazar</button></a>
                    </div>
                    <div class="col-sm-3 my-1">
                        <a href="#"><button type="submit" class="btn btn-success mt-4 pr-4 pl-4">Aceptar</button></a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}