{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Administrador de Tienda{% endblock %}

{% block pagina %}Solicitudes de Vendedor{% endblock %}

{% block sub_pagina %}Inicio{% endblock %}

{% block content %}
{% load static %}
<div class="row">
    <a href="{% url 'admin_dash' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em; margin-top: 3em;"/></a>
    <!-- Dark table inicia -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Solicitudes</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Nombre</th>
                                <th>Correo Electrónico</th>
                                <th>Dirección</th>
                                <th>Edad</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for solicitud in solicitudes%}
                            <tr>
                                <td><a href="{% url 'admin_detalle_solicitud' solicitud.idSolVen %}">{{solicitud.nombreV}}</a></td>
                                <td>{{solicitud.correoV}}</td>
                                <td>{{solicitud.direccionV}}</td>
                                <td>{{solicitud.edadVen}}</td>
                                {% if solicitud.status == 0 %}
                                    <td>Pendiente</td>
                                {% elif solicitud.status == 1 %}
                                    <td>Aceptada</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark table finaliza -->
    </div>
{% endblock %}