{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Administrador de Tienda{% endblock %}

{% block pagina %}Tiendas{% endblock %}

{% block sub_pagina %}Inicio{% endblock %}

{% block content %}
{% load static %}
<div class="row">

        <button type="button" class="btn btn-success mt-4 pr-4 pl-4" data-toggle="modal" data-target="#openNew">
            <i class="ti-plus"> </i>Nueva Tienda
        </button>

</div>
<div class="row">
    <!-- Dark table inicia -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Tiendas</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Nombre de Tienda</th>
                                <th>Nombre Administrador</th>
                                <th>Dirección</th>
                                <th>Contacto</th>
                                <!--th></th-->
                            </tr>
                        </thead>
                        <tbody>
                            {% for listaT in tiendas %}
                                <tr>
                                    <td><a href="/tienda_productos/{{listaT.idTi}}">{{ listaT.nombreTi }}</a></td>
                                    <td>{{admin.nombreAdmin}}</td>
                                    <td>{{admin.direccionAdmin}}</td>
                                    <td>{{admin.telefonoAdmin}}</td>
                                    <!--td>
                                        <a href="/admin_detalle_tienda/{{listaT.idTi}}">
                                        <input type="button" value="Editar"class="btn btn-success mt-3 pr-3 pl-3"/>
                                        </a>
                                        <input type="text" value="{{listaT.idTi}}"/>
                                    </td-->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark table finaliza -->
    </div>


<div id="openNew" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Agregar Tienda</h4><br>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <form method="POST"  enctype="multipart/form-data" action="{% url 'admin_nueva_tienda' %}">
            {% csrf_token %}
                <div class="form-group">
                        <label for="tienda">Nombre de la tienda</label>
                        <input type="text" class="form-control" name="nombreTi" required placeholder="Nombre de la tienda">
                    </div>
                    <div class="custom-file">
                        <label for="descripcion" class="custom-file-label">Elija Logo...</label>
                        <input type="file" class="custom-file-input" name="logoTi" placeholder="Imagen" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Añadir</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
        </form>
      </div>
    </div>
   </div>
</div>

{% endblock %}
