{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Administrador de Tienda{% endblock %}

{% block pagina %}Configuración de Cuenta{% endblock %}

{% block sub_pagina %}Datos{% endblock %}

{% block content %}
{% load static %}
<div class="row">
    <!-- basic form start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Cuenta</h4>
                <form action="{% url 'update_config' %}" method ="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombreAdmin" placeholder="Nombre Completo" required value="{{datos.nombreAdmin}}">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" placeholder="Dirección del admin" name="direccionAdmin" value="{{datos.direccionAdmin}}" required>
                    </div>
                    <div class="form-group">
                        <label for="contacto">Teléfono</label>
                        <input type="text" class="form-control" id="contacto" placeholder="Telefóno del admin" name="telefonoAdmin" value="{{datos.telefonoAdmin}}" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo Electrónico</label>
                        <input type="text" class="form-control" id="correo"  name ="correoAdmin" placeholder="Correo" value="{{datos.correoAdmin}}" required>
                    </div>
                    <div class="form-group">
                        <label for="nc">Nueva Contraseña</label>
                        <input type="password" class="form-control" id="nc">
                    </div>
                    <div class="form-group">
                        <label for="cc">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="cc">
                    </div>
               <div class="form-row align-items-center">
                   <div class="col-sm-3 my-1">
                    <a href="{% url 'admin_dash' %}"><button type="button" class="btn btn-danger mt-4 pr-4 pl-4">Cancelar</button></a>
                    </div>
                    <div class="col-sm-3 my-1">
                        <button type="submit" class="btn btn-success mt-4 pr-4 pl-4">Aceptar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}