{% extends 'admin_dash/master_dashboard.html' %}

{% block titulo_pag %}Administrador de Tienda{% endblock %}

{% block pagina %}Vendedores{% endblock %}

{% block sub_pagina %}Inicio{% endblock %}

{% block content %}
{% load static %}
<div class="row">
<!-- Dark table inicia -->
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Vendedores</h4>
            <div class="data-tables datatable-dark">
                <table id="dataTable3" class="text-center">
                    <thead class="text-capitalize">
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Telefóno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daniel Vargas</td>
                            <td>daniel_v@gmail.com</td>
                            <td>Luis Ponce,Centro,110, Tulancingo</td>
                            <td>77519632584</td>
                        </tr>
                        <tr>
                            <td>Monserrat Ortega</a></td>
                            <td>monseo@gmail.com</td>
                            <td>Tamaulipas, Insurgentes 406, Tulancingo</td>
                            <td> 7751269763</td>
                        </tr>
                            <tr>
                                <td>Samuel Regil</a></td>
                                <td>samregil@gmail.com</td>
                                <td>Doria, Centro 101, Tulancingo</td>
                                <td> 7751239685</td>
                                
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Dark table finaliza -->
</div>

{% endblock %}