{% extends 'sitio_web/master_dashboard.html' %}

{% block titulo_pag %}Administrador de Tienda{% endblock %}

{% block pagina %}Catálogo Productos{% endblock %}

{% block sub_pagina %}Detalle Producto{% endblock %}

{% block content %}
{% load static %}
<div class="row">
    <a href="{% url 'admin_productos' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em; margin-top: 3em;"/></a>
    <!-- basic form start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Detalle Producto</h4>
                <form>
                    <div class="form-group">
                        <label for="producto">Producto</label>
                        <input type="text" class="form-control" id="producto" required value="Zapato">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" value="Para caballero, colores, negro y gris" required>
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <input type="text" class="form-control" id="marca" value="Class" required>
                    </div>
                    <div class="form-row align-items-center">
                    <div class="col-sm-3 my-1">
                        <label class="col-form-label">Categoria</label>
                        <select class="form-control">
                            <option>Hombre</option>
                            <option>Mujer</option>
                            <option>Niñ@s</option>
                        </select>
                    </div>
                    <div class="col-sm-3 my-1">
                        <label for="precio">Precio</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input type="text" class="form-control" id="precio" value="1260" required>
                        </div>
                    </div>  
                </div>
                <br>
                <div class="form-group">
                    <label for="medidas">Medidas</label>
                    <input type="text" class="form-control" id="medidas" value="25,26,27,28" required>
                </div>
               <div class="form-group">
                <label class="col-form-label">Existencias</label>
                <select class="form-control">
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                </select>
               </div> 
               <div class="form-row align-items-center">
                   <div class="col-sm-3 my-1">
                    <button type="button" class="btn btn-danger mt-4 pr-4 pl-4">Eliminar</button>
                    </div>
                    <div class="col-sm-3 my-1">
                        <button type="button" class="btn btn-primary mt-4 pr-4 pl-4">Editar</button>
                    </div>
                    <div class="col-sm-3 my-1">
                        <button type="submit" class="btn btn-success mt-4 pr-4 pl-4">Guardar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- basic form end -->
{% endblock %}