{% extends 'sitio_web/master_dashboard2.html' %}

{% block titulo_pag %}Vendedor{% endblock %}

{% block pagina %}Koch and Sons{% endblock %}

{% block sub_pagina %}Catálogo de Productos{% endblock %}

{% block content %}
{% load static %}
<br>
<br>
<div class="row align-items-center">
    <div class="col-sm-6 my-1">
        <a href="{% url 'tiendas' %}"><img src="{% static 'core/img/back.png'%}" style="width: 3em;"/></a>
    </div>
    <div class="col-sm-6 my-1">
        <a href="{% url 'vendedor_nueva_solicitud'%}" class="btn btn-info"><i class="ti-plus"></i>     Presentar Solicitud</a>
    </div>
<div class="card-area">
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">
                <img class="card-img-top img-fluid" src="{% static 'core/img/Impresora1.png' %}" alt="image">
                <div class="card-body">
                    <h5 class="title">Impresora Epson</h5>
                    <p class="card-text">Descripción del Producto <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
                    </p>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <a href="#" class="btn btn-warning"><i class="ti-book"> </i>Añadir al catálogo  </a>
                        </div>
                        <div class="col-sm-6 my-1" style="margin-left: 1em;">
                            <h3>  $ 9.99</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}