

{% block title %}Categorias{% endblock %}


{% block content %}
{% load static %}
<div class="container" id="categorias">
    <table class="container-image">
        <tr>
            <td><img src="computo.jpeg" width="80" height="200" responsive ></td>
            <td><img src="marketul.png" alt="" /></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
 </div>
{% endblock %}