{% extends 'sitio_web/master_tienda.html' %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
    
<h1><center>Compras</center></h1>
    
<table>
    
    <div class="card" style="width: 18rem;">
  <img src="user.png" width="80" height="80" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Isabella Zoey</h5>
    <p class="card-text">isabella@gmail.com</p>
    <p class="card-text">7751292878</p>
  </div>
    <hr>
    <ul class="nav nav-pills nav-stacked">
  <li class="nav-item">
    <h6><a class="nav-link" href="#"><img src="bag.png" width="25" height="25">Compras</a></h6>
  </li>
    <hr>
  <li class="nav-item">
    <h6><a class="nav-link" href="#"><img src="money.png" width="25" height="25" >Forma de Pago</a></h6>
  </li>
    <hr>
  <li class="nav-item">
    <h6><a class="nav-link" href="#"><img src="home-run.png" width="20" height="20" >Direcci&oacute;n</a></h6>
  </li>
    <hr>
  <li class="nav-item">
    <h6><a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Configuraci&oacute;n de Cuenta</a></h6>
  </li>
    <hr>
    <li class="nav-item">
    <h6><a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Cerrar Sesi&oacute;n</a></h6>
  </li>
</ul>
</div>
</table>
    <div align="right">

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Tienda</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Huawei P20 Lite</th>
          <td>Liverpool</td>
          <td>1</td>
          <td>$6,000.00</td>
        </tr>
        <tr>
          <th scope="row">Perfume Giorgio Armani Acqua Di Gio for Women</th>
          <td>Liverpool</td>
          <td>1</td>
          <td>$1,750.00</td>
        </tr>
        <tr>
          <th scope="row">Tenis Nike Air Force</th>
          <td>Liverpool</td>
          <td>1</td>
          <td>$3,099.00</td>
        </tr>
      </tbody>
    </table>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>
        </div>
    </body>
</html>






