{% extends 'sitio_web/master_tienda.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
{% block content %}
<body>
{% load static %}
<h1><center>Configuraci&oacute;n de Cuenta</center></h1>
<div class="izquierda"> 
    <!-- Barra lateral -->
    <div class="fila" style="margin-left:10px;"  class="d-flex flex-row bd-highlight mb-3">
      <div>
        <aside class="sidebar-left">
         <nav>
     <div class="card" style="width: 15rem;" align="center">
   <img src="{% static 'core/img/user.png' %}"  width="70" height="65">
   <div class="card-body" align="center">
     <h5 class="card-title">Isabella Zoey</h5>
     <p class="card-text">isabella@gmail.com</p>
     <p class="card-text">7751292878</p>
   </div>
     <hr>
     <ul class="list-group list-group-flush">
         <li class="list-group-item">
     <h5><img src="{% static 'core/img/bag.png' %}"  width="25" height="25">Compras</h5>
   </li>
     <hr>
   <li class="list-group-item ">
     <h5><img src="{% static 'core/img/money.png' %}"  width="25" height="25">Forma de Pago</h5>
   </li>
     <hr>
   <li class="list-group-item">
     <h5><img src="{% static 'core/img/home-run.png' %}"  width="20" height="20" >Direcci&oacute;n</h5>
   </li>
     <hr>
   <li class="list-group-item active">
     <h5>Configuraci&oacute;n de Cuenta</h5>
   </li>
     <hr>
     <li class="list-group-item">
     <h5><a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Cerrar Sesi&oacute;n</a></h5>
   </li>
 </ul>
 </nav>
 </aside>
 </div>
     </div>
 </div>
    <div class="card" style="max-width:1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    </div>
    <div class="d-flex justify-content-center" style="margin-top:-650px">
        <div class="col-md-8">
            <div class="card" style=" width: 55rem; height:15rem; margin-left:170px;">
        <h3 class="card-title">Cambio de Contrase&ntilde;a</h3>
    <h5>Nueva contrase&ntilde;a</h5>
<input align="center" style="width: 55rem;" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" required> 
<h5>Confirmar contrase&ntilde;a</h5>
<input align="center" style="width: 55rem;" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" required min="8"> 
    
    </div>
    <p> </p>
    <button style="margin-left:170px; width: 55rem;" type="submit" class="btn btn-dark btn-lg">Guardar</button>

        </div>
 
    </div>
    </body>
    {% endblock %}
</html>
