{% extends 'sitio_web/master_tienda.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
{% block content %}
{% load static %} 
<body>
<h1><center>Forma de Pago</center></h1>
    <p></p>
    <div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">M&eacute;todos de Pago</h4>
  <input style="margin-left: 50px" type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">Tarjeta de Cr&eacute;dito</label>
  <input style="margin-left: 170px"  type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Tarjeta de D&eacute;bito</label>
        </div>
      </div>
        </div>
        <div class="form-group row">
    <label style="margin-left: 395px" for="inputPassword" class="col-sm-2 col-form-label" required>Nombre de la Tarjeta</label>
    <div class="col-sm-4">
      <input class="form-control" placeholder="Nombre del propietario*" required>
    </div>
  </div>
        <div class="form-group row">
    <label style="margin-left: 395px" for="inputPassword" class="col-sm-2 col-form-label" required>N&uacute;mero de la Tarjeta</label>
    <div class="col-sm-4">
      <input class="form-control" placeholder="0000 0000 0000 0000*" required>
    </div>
    </div>
    <div class="form-group row">
    <label style="margin-left: 395px" for="inputPassword" class="col-sm-2 col-form-label" required>Fecha Vencimiento</label>
    <div class="col-sm-1">
      <input class="form-control" placeholder="D&iacute;a" required>
        </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="Mes" required> 
        </div>
    <div class="col-sm-1">
        <input class="form-control" placeholder="A&ntilde;o" required>
    </div>
    </div>
        
    </div>
    <button  style="margin-left: 395px" type="submit" class="btn btn-success btn-lg"><img src="{% static 'core/img/mastercard.png' %}"  width="30" height="30">Guardar</button>
  <button style="margin-left: 25px" type="submit" class="btn btn-dark btn-lg"><img src="{% static 'core/img/payment.png' %}"  width="30" height="30">PayPal</button>
    
    <div class="card" style="width: 25rem;" align="left-top">
  <img src="{% static 'core/img/user.png' %}" width="80" height="80" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Isabella Zoey</h5>
    <p class="card-text">isabella@gmail.com</p>
    <p class="card-text">7751292878</p>
  </div>
    <hr>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
    <h5><img src="{% static 'core/img/bag.png' %}" width="25" height="25">Compras</h5>
  </li>
    <hr>
  <li class="list-group-item active">
    <h5><img src="{% static 'core/img/money.png' %}" width="25" height="25">Forma de Pago</h5>
  </li>
    <hr>
  <li class="list-group-item">
    <h5><img src="{% static 'core/img/home-run.png' %}" width="20" height="20" >Direcci&oacute;n</h5>
  </li>
    <hr>
  <li class="list-group-item">
    <h5><a tabindex="-1" aria-disabled="true">Configuraci&oacute;n de Cuenta</a></h5>
  </li>
    <hr>
    <li class="list-group-item">
    <h5><a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Cerrar Sesi&oacute;n</a></h5>
  </li>
</ul>
    </div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.minjs"></script>
    </body>
    {% endblock %}
</html>
