{% extends 'sitio_web/master_web.html' %}

{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'core/img/tulancingo.jpg' %}{% endblock %}

{% block headers %}
{% load static %}
<img src="{% static 'core/img/marketul.png' %}" alt="" responsive >
<span class="subheading"></span>
{% endblock %}

{% block content %}
{% load static %}
<div class="container" id="about">
 <div class="container-image" >
        <img id="logo" src="{% static 'core/img/logo1.png' %}" alt="" responsive>
  </div>
        <p><h5>It's a web system that analyzes thoracic x-ray images and made a diagnosis of Covid-19 and other 4 diseases, we still training it because we want to make our algorithm more efficient, we have like a 45% or more percent of exactitud.</h5></p>
        
</div>
<hr>
<div class="container" id="try">
    <div class="row">
        <div class="col-lg-6 col-md-8 " class="container-button">
            <button class="btn btn-outline-info btn-lg btn-sm btn-block" onclick="window.open('screen')" aria-pressed="true" style="width: 420px; height: 300px; margin-bottom: 25px;"><h1>See How It Works!</h1><br><p>We are using AI to detect <b>COVID-19</b> or<br> another 4 <b>lung deseases</b> <br>even <b>healthy</b> patient </p><br><p style="margin-left: 200px;">Let's see it >>>>></p></button>
        </div>
        <div class="col-lg-4 col-md-8" class="container-button">
            <button class="btn btn-outline-secondary btn-lg btn-sm btn-block" onclick="window.open('chatdimai')" aria-pressed="true" style="width: 420px; height: 300px;"><h1>DIMAI CHAT</h1><br><p>Chat with our chatbot if you have more<br> questions about <b>DIMAI</b><br></p><br><p style="margin-left: 200px;">GO >>>>></p>
            </button>
        </div>
    </div>
</div>
<hr>
<div class="container" id="team">
    <h1>TEAM</h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
          <div class="card" style="margin-bottom: 25px;">
            <div class="card-body">
              <h5 class="card-title">Brenda Rodarte</h5>
              <p class="card-text"><b>Email:</b> brenda.rodarte2000@gmail.com</p>
              <p class="card-text"><b>Country:</b> México</p>
              <p class="card-text"><b>Profession:</b> Design student, Universidad Politecnica Metrolpolitana del Estado de Hidalgo</p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Martín Gonzalez Cuevas</h5>
                <p class="card-text"><b>Email:</b> martingc2099@hotmail.com</p>
                <p class="card-text"><b>Country:</b> Mexico</p>
                <p class="card-text"><b>Profession:</b> Software engineering, Universidad Politecnica de Pachuca</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="margin-bottom: 25px;">
            <div class="card-body">
                <h5 class="card-title">Roberto Escorcia</h5>
                <p class="card-text"><b>Email:</b> roberto.williams1@outlook.com</p>
                <p class="card-text"><b>Country:</b> Mexico</p>
                <p class="card-text"><b>Profession:</b> Software engineering, Universidad Politecnica de Pachuca</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Jhonatan David Giraldo Rodríguez</h5>
                <p class="card-text"><b>Email:</b> giraldor.jhonatand@outlook.com</p>
                <p class="card-text"><b>Country:</b> Colombia</p>
                <p class="card-text"><b>Profession:</b> Medical student, Fundación Universitaria Juan N. Corpas - Clínica Juan N. Corpas</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Diego Bolaños Pardo</h5>
                <p class="card-text"><b>Email:</b> diegobolpar@hotamil.com</p>
                <p class="card-text"><b>Country:</b> Mexico</p>
                <p class="card-text"><b>Profession:</b> IT engineering student, Universidad Tecnológica de Tulancingo</p>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}