{% extends 'sitio_web/master_web.html' %}

{% block title %}Inicio{% endblock %}

{% block background %}{% load static %}{% static 'core/img/tulancingo.jpg' %}{% endblock %}

{% block h1 %} MarkeTul {% endblock %}
{% block text %} 
    <p class="mb-5 lead">Ahora podras hacer tus famosas compras por catálogo ahora en línea. Aquí encontrarás tus tiendas favoritas de Tulancingo.</p>
    <div>
      <a href="{% url 'categorias %" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Compra ahora</a>
    </div>
{% endblock %}

{% block content %}
{% load static %}
<div class="site-section" id="about-section">
  <br>
  <br>
  <div class="container">
    <div class="row align-items-lg-center">
      <div class="col-md-6 mb-5 mb-lg-0 position-relative">
        <img src="{% static 'core/img/tul2.jpg' %}" class="img-fluid" alt="Image">
      </div>
      <div class="col-md-4 ml-auto">
        <h2 class="section-title mb-3">Acerca De</h2>
        <p class="mb-4">En la región de Tulancingo el 72.55% de la economía depende del comercio, este se divide de la siguiente manera: 
          44.11 % De comercios al por menor
          28.44% De comercios al por mayor
          De los cuales la mayoría aún utilizan métodos convencionales de venta. 
          </p>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<div class="site-section testimonial-wrap" id="Afiliados-section">
  <br>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Negocios Afiliados</h2>
      </div>
    </div>
  </div>
  <br>
  <div class="slide-one-item home-slider owl-carousel">
      <div>
        <div class="testimonial">
          <figure class="mb-4 d-block align-items-center justify-content-center">
            <div><img src="{% static 'core/img/barajas.png' %}" alt="Image" class="w-100 img-fluid mb-3"></div>
          </figure>
        </div>
      </div>
      <div>
        <div class="testimonial">
          <figure class="mb-4 d-block align-items-center justify-content-center">
            <div><img src="{% static 'core/img/plaza.png' %}" alt="Image" class="w-100 img-fluid mb-3"></div>
          </figure>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <figure class="mb-4 d-block align-items-center justify-content-center">
            <div><img src="{% static 'core/img/boutique.jpg' %}" alt="Image" class="w-100 img-fluid mb-3"></div>
          </figure>
        </div>
      </div>
    </div>
</div>
<br>
<hr>
<div class="site-section" id="perfiles-section">
  <br>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Perfiles</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <img src="{% static 'core/img/admin.png' %}" alt="Image" class="img-fluid">
          <h2 class="font-size-regular"><a href="#" class="text-black">Administrador de Tienda</a></h2>
          <p><strong>Crea</strong> y renuevate de manera que puedas generar más ingresos y expandas tu mercado con un moderno modelo de negocios.</p>
          <p><a href="{% url 'perfil_admin' %}">Leer más...</a></p>
        </div> 
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <img src="{% static 'core/img/salesman.png' %}" alt="Image" class="img-fluid">
          <h2 class="font-size-regular"><a href="#" class="text-black">Vendedor</a></h2>
          <p><strong>Vende</strong> y genera ingresos extra, con una oportunidad de trabajo diferente de manera que puedas ser tu quien administre su tiempo.</p>
          <p><a href="{% url 'perfil_vendedor' %}">Leer más...</a></p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="h-entry">
          <img src="{% static 'core/img/consumidor.png' %}" alt="Image" class="img-fluid">
          <h2 class="font-size-regular"><a href="#" class="text-black">Consumidor.</a></h2>
          <p><strong>Compra</strong> y conoce productos de tu región de las tiendas que normalmente consumes, de manera rápida y cómoda.</p>
          <p><a href="{% url 'perfil_consumidor' %}">Leer más...</a></p>
        </div> 
      </div>
    </div>
  </div>
</div>
<hr>
<div class="site-section bg-light" id="contacto-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Contactános</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 mb-5">

        

        <form action="#" class="p-5 bg-white">
          
          <h2 class="h4 text-black mb-5">Datos</h2> 

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" for="fname">Nombre</label>
              <input type="text" id="fname" class="form-control rounded-0">
            </div>
            <div class="col-md-6">
              <label class="text-black" for="lname">Apellidos</label>
              <input type="text" id="lname" class="form-control rounded-0">
            </div>
          </div>

          <div class="row form-group">
            
            <div class="col-md-12">
              <label class="text-black" for="email">Correo eletrónico</label> 
              <input type="email" id="email" class="form-control rounded-0">
            </div>
          </div>

          <div class="row form-group">
            
            <div class="col-md-12">
              <label class="text-black" for="subject">Asunto</label> 
              <input type="subject" id="subject" class="form-control rounded-0">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="message">Mensaje</label> 
              <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0" placeholder="Escribe un comentario o haznos una pregunta..."></textarea>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Enviar" class="btn btn-black rounded-0 py-3 px-4">
            </div>
          </div>
        </form>
      </div>
    
    </div>
    
  </div>
</div>
{% endblock %}