{% extends 'sitio_web/master_web.html' %}

{% block title %}Perfil Administrador de Tienda{% endblock %}

{% block background %}{% load static %}{% static 'core/img/tulancingo.jpg' %}{% endblock %}

{% block h1 %} Perfiles {% endblock %}

{% block content %}
{% load static %}
<div class="site-section bg-light">
    <div class="container">
        <div class="bg-white py-4 mb-4">
            <div class="row mx-4 my-4 product-item-2 align-items-start">
              <div class="col-md-6 mb-5 mb-md-0">
                <img src="{% static 'core/img/admin.png' %}" alt="Image" class="img-fluid">
              </div>         
          <div class="col-md-5 ml-auto product-title-wrap">
            <h3 class="text-black mb-4 font-weight-bold">Administrador de Tienda</h3>
            <p class="mb-4">Si eres dueño de un negocio, con la plataforma MarkeTul puedes crear y administrar una tienda virtual de tu negocio. Siendo administrador tienes la oportunidad de:
               <ul>
                <li>Ingresar una lista de productos que deseas vender.</li>
                <li>Conseguir una variedad de vendedores que ayuden a vender tus productos.</li>
                <li>Administrar la lista de solicitudes de vendedores interesados en tu tienda.</li>
                <li>Conocer las ventas de los productos registrados.</li></ul></p>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}