{% extends 'sitio_web/master_web.html' %}

{% block title %}Perfil_vendedor{% endblock %}

{% block background %}{% load static %}{% static 'core/img/tulancingo.jpg' %}{% endblock %}

{% block h1 %} Perfiles {% endblock %}

{% block content %}
<div class="site-section bg-light">
    <div class="container">
        <div class="bg-white py-4 mb-4">
            <div class="row mx-4 my-4 product-item-2 align-items-start">
              <div class="col-md-6 mb-5 mb-md-0">
                <img src="{% static 'core/img/salesman.png' %}" alt="Image" class="img-fluid">
              </div>         
          <div class="col-md-5 ml-auto product-title-wrap">
            <h3 class="text-black mb-4 font-weight-bold">Vendedor</h3>
            <p class="mb-4">Si eres una persona que le gustaría tener un trabajo en sus tiempos libres, con MarkeTul es posible. Al registrarte como vendedor en la plataforma puedes asociarse a las tiendas registradas y ofrecer sus productos. Como vendedor es posible:
               <ul>
                <li>Enviar solicitudes a las tiendas registradas para poder vender sus productos.</li>
                <li>Crear una variedad de catálogos que incluyen los productos de las tiendas del cual eres vendedor.</li>
                <li>Conocer las ventas realizadas de los productos.</li></ul></p>
          </div>
        </div>
      </div>

    </div>
  </div>
{% load static %}
{% endblock %}